NODE-RED_CONFIG.json
[{"id":"4947e624.b2ee18","type":"tab","label":"NODE_RED_IoT_PROJECT","disabled":false,"info":"VERSÃO 1.08\nAUTOR: WALTER DAWID RETZER\n\nENVIO DE ALERTA DE E-MAIL COM CONTA GMAIL E SERVER UBIDOTS IoT!!\n\nENVIO DE MENSAGENS PELO APLICATIVO TELEGRAM!"},{"id":"eab944f0.3a15b8","type":"debug","z":"4947e624.b2ee18","name":"VIEW 02","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":380,"wires":[]},{"id":"1f5c9ad9.87f065","type":"comment","z":"4947e624.b2ee18","name":"NODES PARA ENVIO DE MENSAGENS DE ALERTA VIA E-MAIL ATRAVÉS DA CONTA DO GMAIL.","info":"NODES PARA ENVIO DE MENSAGENS DE ALERTA VIA E-MAIL ATRAVÉS DA CONTA DO GMAIL","x":480,"y":40,"wires":[]},{"id":"7a54b863.429578","type":"e-mail","z":"4947e624.b2ee18","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"walter.d.retzer@gmail.com","dname":"NANO SMART AGRO EMAIL","x":760,"y":180,"wires":[]},{"id":"fe1893e7.43ef4","type":"function","z":"4947e624.b2ee18","name":"MSG_GMAIL","func":"msg.payload = msg.payload;\n\nif(msg.payload >= 2.5){\n    msg.topic = \"NANO SMART AGRO - Alerta de Possibilidade de Chuva!!\";\n    msg.payload = \"PRESSÃO ATMOSFERICA DIFERENCIAL MÁXIMA ATINGIDA! \\n\\nPOSSIBILIDADE DE OCORRÊNCIA DE CHUVA PARA OS PRÓXIMOS DIAS!\\n\\n\\nPRESSÃO ATM DIFERENCIAL: \" + String(msg.payload) +\"mBAR\" + \"\\n\\n\\nAtenciosamente,\\n\\nEQUIPE NANO SMART AGRO\";\n    return msg; \n}\n\n","outputs":1,"noerr":0,"x":510,"y":180,"wires":[["7a54b863.429578","72d2646c.d662ac"]]},{"id":"8568aa02.c41e88","type":"change","z":"4947e624.b2ee18","name":"CHANGE-1    ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":130,"y":180,"wires":[["fe1893e7.43ef4","578a8e5a.9d89b","6457da74.de05d4"]]},{"id":"578a8e5a.9d89b","type":"ui_gauge","z":"4947e624.b2ee18","name":"PRESSÃO ATM DIF","group":"e19d8516.86a5a8","order":1,"width":0,"height":0,"gtype":"gage","title":"PRESSÃO ATM DIFERENCIAL","label":"%","format":"{{value}}","min":0,"max":"6","colors":["#e6e600","#00b500","#ca3838"],"seg1":"30","seg2":"75","x":740,"y":240,"wires":[]},{"id":"9a051a92.34aa38","type":"mqtt in","z":"4947e624.b2ee18","name":"UBIDOTS PRESSÃO ALERTA","topic":"/v1.6/devices/nsagro-v0/pressao-alerta","qos":"0","datatype":"json","broker":"2d0590bb.a24e3","x":180,"y":100,"wires":[["8568aa02.c41e88"]]},{"id":"58501b45.8e97f4","type":"telegram sender","z":"4947e624.b2ee18","name":"NSAgro_bot","bot":"df75db19.896f28","haserroroutput":false,"outputs":1,"x":470,"y":380,"wires":[["eab944f0.3a15b8"]]},{"id":"6ee79a8f.e232b4","type":"telegram receiver","z":"4947e624.b2ee18","name":"NSAgro_bot_MsgRecebidas","bot":"df75db19.896f28","saveDataDir":"","filterCommands":false,"x":520,"y":440,"wires":[[],["e905809d.d211c"]]},{"id":"6457da74.de05d4","type":"function","z":"4947e624.b2ee18","name":"MSG_TELEGRAM","func":"msg.payload = msg.payload\n\n    \nif(msg.payload >= 3.5){\n    var pressao = msg.payload\n    msg.payload = {} \n    msg.payload.chatId = 1741979948\n    msg.payload.type = 'message'\n    msg.payload.content = '**Alerta de Possibilidade de Chuva**\\nPressão Atmosférica Diferencial Máxima Atingida!\\n\\nPossibilidade de Ocorrência de Chuva para os Próximos Dias!\\n-Pressão Atmosférica Diferencial em: ' + pressao +'mBAR\\n\\n\\nAtenciosamente,\\n\\nEQUIPE NANO SMART AGRO'\n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":150,"y":380,"wires":[["58501b45.8e97f4"]]},{"id":"72d2646c.d662ac","type":"debug","z":"4947e624.b2ee18","name":"VIEW 01","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":120,"wires":[]},{"id":"e905809d.d211c","type":"debug","z":"4947e624.b2ee18","name":"VIEW 03","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":446,"wires":[]},{"id":"6a38ba38.0199f4","type":"comment","z":"4947e624.b2ee18","name":"NODES PARA ENVIO DE MENSAGENS ATRAVÉS DE UM BOT DO APLICATIVO TELEGRAM","info":"NODES PARA ENVIO DE MENSAGENS ATRAVÉS DE UM BOT DO APLICATIVO TELEGRAM.\n\nUm bot é uma espécie de robô. Ele torna algumas tarefas mais simples!\n\nUm bot também é usado quando alguém quer realizar uma tarefa simples como responder uma mensagem quando a pessoa não pode fazer isso manualmente.\n\nNeste caso, o bot enviará uma mensagem de forma automática. Por exemplo, se uma pessoa escrever “Oi, bom dia”, o bot responderá (de acordo a uma configuração prévia): “Oi, tudo bem! Seja bem-vindo à nossa loja! O que você está procurando?”.","x":470,"y":320,"wires":[]},{"id":"e19d8516.86a5a8","type":"ui_group","z":"","name":"NSAGRO","tab":"7206f162.c3e9b","order":1,"disp":true,"width":"6","collapse":false},{"id":"2d0590bb.a24e3","type":"mqtt-broker","z":"","name":"NSAGRO-PRESSAO-ALERTA","broker":"mqtt://industrial.api.ubidots.com","port":"1883","clientid":"604e14b673efc33976b28da7","usetls":false,"compatmode":true,"keepalive":"3660","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"df75db19.896f28","type":"telegram bot","z":"","botname":"NanoSmartAgro","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"7206f162.c3e9b","type":"ui_tab","z":"","name":"DASHBOARD IoT NODE-RED","icon":"dashboard","disabled":false,"hidden":false}]
