NODE-RED_FLOW.json
[
    {
        "id": "4947e624.b2ee18",
        "type": "tab",
        "label": "NODE_RED_IoT_PROJECT",
        "disabled": false,
        "info": "VERSÃO 1.08\nAUTOR: WALTER DAWID RETZER\n\nENVIO DE ALERTA DE E-MAIL COM CONTA GMAIL E SERVER UBIDOTS IoT!!\n\nENVIO DE MENSAGENS PELO APLICATIVO TELEGRAM!"
    },
    {
        "id": "eab944f0.3a15b8",
        "type": "debug",
        "z": "4947e624.b2ee18",
        "name": "VIEW 02",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 880,
        "y": 340,
        "wires": []
    },
    {
        "id": "1f5c9ad9.87f065",
        "type": "comment",
        "z": "4947e624.b2ee18",
        "name": "NODES PARA ENVIO DE MENSAGENS DE ALERTA VIA E-MAIL ATRAVÉS DA CONTA DO GMAIL.",
        "info": "NODES PARA ENVIO DE MENSAGENS DE ALERTA VIA E-MAIL ATRAVÉS DA CONTA DO GMAIL",
        "x": 710,
        "y": 40,
        "wires": []
    },
    {
        "id": "7a54b863.429578",
        "type": "e-mail",
        "z": "4947e624.b2ee18",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "nomedoemail@gmail.com",
        "dname": "NANO SMART AGRO EMAIL",
        "x": 950,
        "y": 80,
        "wires": []
    },
    {
        "id": "fe1893e7.43ef4",
        "type": "function",
        "z": "4947e624.b2ee18",
        "name": "Msg_Gmail",
        "func": "msg.payload = msg.payload;\n\nif(msg.payload >= 2.0){\n    msg.topic = \"NANO SMART AGRO - Alerta de Possibilidade de Chuva!!\";\n    msg.payload = \"PRESSÃO ATMOSFERICA DIFERENCIAL MÁXIMA ATINGIDA! \\n\\nPOSSIBILIDADE DE OCORRÊNCIA DE CHUVA PARA OS PRÓXIMOS DIAS!\\n\\n\\nPRESSÃO ATM DIFERENCIAL: \" + String(msg.payload) +\"mBAR\" + \"\\n\\n\\nAtenciosamente,\\n\\nEQUIPE NANO SMART AGRO\";\n    return msg; \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 80,
        "wires": [
            [
                "7a54b863.429578",
                "72d2646c.d662ac"
            ]
        ]
    },
    {
        "id": "8568aa02.c41e88",
        "type": "change",
        "z": "4947e624.b2ee18",
        "name": "CHANGE-1    ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 80,
        "wires": [
            [
                "fe1893e7.43ef4",
                "578a8e5a.9d89b",
                "6457da74.de05d4"
            ]
        ]
    },
    {
        "id": "578a8e5a.9d89b",
        "type": "ui_gauge",
        "z": "4947e624.b2ee18",
        "name": "PRESSÃO ATM DIF",
        "group": "e19d8516.86a5a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PRESSÃO ATM DIFERENCIAL",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "6",
        "colors": [
            "#e6e600",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "75",
        "x": 800,
        "y": 240,
        "wires": []
    },
    {
        "id": "9a051a92.34aa38",
        "type": "mqtt in",
        "z": "4947e624.b2ee18",
        "name": "UBIDOTS PRESSÃO ALERTA",
        "topic": "/v1.6/devices/nomedodevice",
        "qos": "0",
        "datatype": "json",
        "broker": "2d0590bb.a24e3",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "8568aa02.c41e88",
                "1fe1b2b803f28da3"
            ]
        ]
    },
    {
        "id": "58501b45.8e97f4",
        "type": "telegram sender",
        "z": "4947e624.b2ee18",
        "name": "NSAgro_bot",
        "bot": "df75db19.896f28",
        "haserroroutput": true,
        "outputs": 2,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "eab944f0.3a15b8"
            ],
            []
        ]
    },
    {
        "id": "6ee79a8f.e232b4",
        "type": "telegram receiver",
        "z": "4947e624.b2ee18",
        "name": "NSAgro_bot_MsgRecebidas",
        "bot": "df75db19.896f28",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 600,
        "y": 420,
        "wires": [
            [],
            [
                "e905809d.d211c"
            ]
        ]
    },
    {
        "id": "6457da74.de05d4",
        "type": "function",
        "z": "4947e624.b2ee18",
        "name": "Msg_Telegram",
        "func": "msg.payload = msg.payload\n\n    \nif(msg.payload >= 2.0){\n    var pressao = msg.payload\n    msg.payload = {} \n    msg.payload.chatId = 999999999\n    msg.payload.type = 'message'\n    msg.payload.content = '**Alerta de Possibilidade de Chuva**\\nPressão Atmosférica Diferencial Máxima Atingida!\\n\\nPossibilidade de Ocorrência de Chuva para os Próximos Dias!\\n-Pressão Atmosférica Diferencial em: ' + pressao +'mBAR\\n\\n\\nAtenciosamente,\\n\\nEQUIPE NANO SMART AGRO'\n    return msg;\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "58501b45.8e97f4"
            ]
        ]
    },
    {
        "id": "72d2646c.d662ac",
        "type": "debug",
        "z": "4947e624.b2ee18",
        "name": "VIEW 01",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 880,
        "y": 140,
        "wires": []
    },
    {
        "id": "e905809d.d211c",
        "type": "debug",
        "z": "4947e624.b2ee18",
        "name": "VIEW 03",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 880,
        "y": 420,
        "wires": []
    },
    {
        "id": "6a38ba38.0199f4",
        "type": "comment",
        "z": "4947e624.b2ee18",
        "name": "NODES PARA ENVIO DE MENSAGENS ATRAVÉS DE UM BOT DO APLICATIVO TELEGRAM",
        "info": "NODES PARA ENVIO DE MENSAGENS ATRAVÉS DE UM BOT DO APLICATIVO TELEGRAM.\n\nUm bot é uma espécie de robô. Ele torna algumas tarefas mais simples!\n\nUm bot também é usado quando alguém quer realizar uma tarefa simples como responder uma mensagem quando a pessoa não pode fazer isso manualmente.\n\nNeste caso, o bot enviará uma mensagem de forma automática. Por exemplo, se uma pessoa escrever “Oi, bom dia”, o bot responderá (de acordo a uma configuração prévia): “Oi, tudo bem! Seja bem-vindo à nossa loja! O que você está procurando?”.",
        "x": 690,
        "y": 300,
        "wires": []
    },
    {
        "id": "26c0e9188e3951df",
        "type": "debug",
        "z": "4947e624.b2ee18",
        "name": "VIEW 05",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 800,
        "wires": []
    },
    {
        "id": "14f69eaf7b585768",
        "type": "telegram sender",
        "z": "4947e624.b2ee18",
        "name": "NSAgro_bot",
        "bot": "df75db19.896f28",
        "haserroroutput": false,
        "outputs": 1,
        "x": 790,
        "y": 800,
        "wires": [
            [
                "26c0e9188e3951df"
            ]
        ]
    },
    {
        "id": "3eafb8c82251e581",
        "type": "telegram receiver",
        "z": "4947e624.b2ee18",
        "name": "NSAgro_bot_MsgRecebidas",
        "bot": "df75db19.896f28",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 740,
        "y": 960,
        "wires": [
            [],
            [
                "f0ecf48f6c6d04b2"
            ]
        ]
    },
    {
        "id": "fc729326ee6e7cd5",
        "type": "function",
        "z": "4947e624.b2ee18",
        "name": "Msg_Telegram",
        "func": "msg.payload = msg.payload\n\n    \nif(msg.payload >= 0.0){\n    var pluviometro = msg.payload\n    msg.payload = {} \n    msg.payload.chatId = 999999999\n    msg.payload.type = 'message'\n    msg.payload.content = 'Pluviômetro registra ocorrência de Chuva em: ' + pluviometro +'mm\\n\\n\\nAtenciosamente,\\n\\nEQUIPE NANO SMART AGRO'\n    return msg;\n}\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 800,
        "wires": [
            [
                "14f69eaf7b585768"
            ]
        ]
    },
    {
        "id": "f0ecf48f6c6d04b2",
        "type": "debug",
        "z": "4947e624.b2ee18",
        "name": "VIEW 06",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 960,
        "wires": []
    },
    {
        "id": "dbaf87b8243e30e5",
        "type": "comment",
        "z": "4947e624.b2ee18",
        "name": "NODES PARA ENVIO DE MENSAGENS ATRAVÉS DE UM BOT DO APLICATIVO TELEGRAM",
        "info": "NODES PARA ENVIO DE MENSAGENS ATRAVÉS DE UM BOT DO APLICATIVO TELEGRAM.\n\nUm bot é uma espécie de robô. Ele torna algumas tarefas mais simples!\n\nUm bot também é usado quando alguém quer realizar uma tarefa simples como responder uma mensagem quando a pessoa não pode fazer isso manualmente.\n\nNeste caso, o bot enviará uma mensagem de forma automática. Por exemplo, se uma pessoa escrever “Oi, bom dia”, o bot responderá (de acordo a uma configuração prévia): “Oi, tudo bem! Seja bem-vindo à nossa loja! O que você está procurando?”.",
        "x": 710,
        "y": 740,
        "wires": []
    },
    {
        "id": "6a538a62e30dd860",
        "type": "mqtt in",
        "z": "4947e624.b2ee18",
        "name": "UBIDOTS PLUVIOMETRO",
        "topic": "/v1.6/devices/nomedodevice",
        "qos": "0",
        "datatype": "json",
        "broker": "fb5615bd.9c6468",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 798,
        "wires": [
            [
                "254b9ec678daf22c"
            ]
        ]
    },
    {
        "id": "254b9ec678daf22c",
        "type": "change",
        "z": "4947e624.b2ee18",
        "name": "CHANGE-3",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 800,
        "wires": [
            [
                "fc729326ee6e7cd5",
                "6a76678b5ceb70f1"
            ]
        ]
    },
    {
        "id": "f21337595d8c6f83",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "4947e624.b2ee18",
        "name": "NSAGRO_whatsapp",
        "account": "a3aa8351ea8be340",
        "text": "payload",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 920,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "64a0851bd857ee5b",
        "type": "debug",
        "z": "4947e624.b2ee18",
        "name": "VIEW 04",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 640,
        "wires": []
    },
    {
        "id": "1fe1b2b803f28da3",
        "type": "change",
        "z": "4947e624.b2ee18",
        "name": "CHANGE-2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 580,
        "wires": [
            [
                "31acf5cfa065d4f5"
            ]
        ]
    },
    {
        "id": "31acf5cfa065d4f5",
        "type": "function",
        "z": "4947e624.b2ee18",
        "name": "Msg_WhatsApp",
        "func": "msg.payload = msg.payload;\n\nif(msg.payload >= 2.0){\n    msg.payload = \"PRESSÃO ATMOSFERICA DIFERENCIAL MÁXIMA ATINGIDA! \\n\\nPOSSIBILIDADE DE OCORRÊNCIA DE CHUVA PARA OS PRÓXIMOS DIAS!\\n\\n\\nPRESSÃO ATM DIFERENCIAL: \" + String(msg.payload) +\"mBAR\" + \"\\n\\n\\nAtenciosamente,\\n\\nEQUIPE NANO SMART AGRO\";\n    return msg; \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 580,
        "wires": [
            [
                "f21337595d8c6f83",
                "64a0851bd857ee5b"
            ]
        ]
    },
    {
        "id": "9fc080af0fa64e03",
        "type": "comment",
        "z": "4947e624.b2ee18",
        "name": "NODES PARA ENVIO DE MENSAGENS ATRAVÉS DE UM BOT DO APLICATIVO WHATSAPP",
        "info": "",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "6a76678b5ceb70f1",
        "type": "ui_gauge",
        "z": "4947e624.b2ee18",
        "name": "PLUVIOMETRO",
        "group": "e19d8516.86a5a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PLUVIOMETRO",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "6",
        "colors": [
            "#e6e600",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "75",
        "x": 700,
        "y": 900,
        "wires": []
    },
    {
        "id": "1bf7affce816a504",
        "type": "comment",
        "z": "4947e624.b2ee18",
        "name": "DASHBOARD PARA MOSTRAR A PRESSAO ATM",
        "info": "",
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "4894069b3d9835bd",
        "type": "comment",
        "z": "4947e624.b2ee18",
        "name": "DASHBOARD PARA MOSTRAR O PLUVIOMETRO",
        "info": "",
        "x": 810,
        "y": 860,
        "wires": []
    },
    {
        "id": "e19d8516.86a5a8",
        "type": "ui_group",
        "name": "NSAGRO",
        "tab": "7206f162.c3e9b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2d0590bb.a24e3",
        "type": "mqtt-broker",
        "name": "NSAGRO-PRESSAO-ALERTA",
        "broker": "mqtt://things.ubidots.com",
        "port": "1883",
        "clientid": "xxxxxxxxxxxxxxxxxxxxx",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "df75db19.896f28",
        "type": "telegram bot",
        "botname": "NSAgro_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false,
        "credentials": {}
    },
    {
        "id": "fb5615bd.9c6468",
        "type": "mqtt-broker",
        "name": "NSAGROV1",
        "broker": "mqtt://things.ubidots.com",
        "port": "1883",
        "clientid": "xxxxxxxxxxxxxxxxxxxxx",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a3aa8351ea8be340",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "NSAGRO_whats",
        "credentials": {}
    },
    {
        "id": "7206f162.c3e9b",
        "type": "ui_tab",
        "name": "DASHBOARD IoT NODE-RED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]